@use 'sass:map';
@use 'sass:math';
@use 'global';
@use 'mixins/spacing';
@use 'config/colors';
@use 'functions/color';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/transition';
@use 'mixins/flex';
@use 'config/fonts';
@use 'mixins/aria';

.tools-content {
  @include spacing.p($a: 16px, $t: 12px);
}

.tools-fieldCalc {
  max-width: 448px;
  @include spacing.mx-auto;
  @include spacing.mt(16px);

  .tools-container:not(.tools-slim) & {
    @include spacing.px(24px);
  }
}

.tools-opponentCalc {
  @include spacing.mt(12px);
}

.pagecontainer-container {
  @include position.abs-fill;
  overflow: hidden;
  z-index: 15;

  &::before {
    content: '';
    @include position.abs-fill;
    @include transition.apply(background-color);
    pointer-events: none;
  }

  &[data-gen-3-ou-tools-scheme='light'] {
    color: colors.$black;

    &::before {
      background-color: color.alpha(colors.$showdown-background-light, 0.8);
    }
  }

  &[data-gen-3-ou-tools-scheme='dark'] {
    color: colors.$white;

    &::before {
      background-color: color.alpha(colors.$gray-darkest, 0.88);
    }
  }
}

.pagecontainer-content {
  @include position.abs-fill;
  @include spacing.p(16px);
  @include font.mono;
  font-size: 10px;
}

.scrollable-container {
  position: relative;
  @include flex.column($justify: flex-start, $align: flex-start);
  flex-wrap: wrap;
  align-content: flex-start;

  &.scrollable-dragging {
    user-select: none;
    pointer-events: none;
  }

  &::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none !important;

    &:vertical {
      width: 0 !important;
    }

    &:horizontal {
      height: 0 !important;
    }
  }
}

.scrollable-wrapper {
  width: inherit;
  max-width: inherit;
  height: inherit;
  max-height: inherit;
  overflow: hidden;
}

.scrollable-mask {
  @include position.absolute-fill;
  width: auto;
  height: auto;
  @include spacing.margin-none;
  @include spacing.padding-none;
  direction: inherit;
  overflow: hidden;
  z-index: 0;
}

.scrollable-offset {
  @include position.absolute-fill;
  @include spacing.margin-none;
  @include spacing.padding-none;
  direction: inherit;
  resize: none;
}

.scrollable-contentWrapper {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  direction: inherit;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.scrollable-content {
  position: relative;

  .scrollable-dragging & {
    user-select: none;
    pointer-events: none;
  }
}

.scrollable-placeholder {
  width: 100%;
  max-width: 100%;
  height: 100%;
  pointer-events: none;
}

.scrollable-heightObserverWrapper {
  position: relative;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
  float: left;
  width: 100%;
  max-width: 1px;
  height: 100%;
  max-height: 1px;
  @include spacing.margin-none;
  @include spacing.padding-none;
  box-sizing: inherit;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.scrollable-heightObserver {
  @include position.absolute-anchor($x: 0, $y: 0);
  display: block;
  width: 1000%;
  min-width: 1px;
  height: 1000%;
  min-height: 1px;
  opacity: 0;
  box-sizing: inherit;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.scrollable-track {
  @include position.absolute-anchor($x: 0, $y: 0, $x-prop: right, $y-prop: bottom);
  overflow: hidden;
  z-index: 1;
  pointer-events: none;

  &.scrollable-horizontal {
    left: 0;
    height: 11px;
  }

  &.scrollable-vertical {
    top: 0;
    width: 11px;
  }

  .scrollable-dragging & {
    pointer-events: all;
  }
}

.scrollable-scrollbar {
  @include position.absolute($right: 0, $left: 0);
  min-height: 10px;

  .scrollable-horizontal & {
    top: 2px;
    right: auto;
    left: 0;
    width: auto;
    min-width: 10px;
    height: 7px;
    min-height: 0;
  }

  &::before {
    content: '';
    @include position.absolute($right: 2px, $left: 2px);
    border-radius: 16px;
    opacity: 0;
    @include transition.apply((background-color, 0.3s, linear), (opacity, 0.3s, linear));
  }

  &.scrollable-visible::before {
    opacity: 0.4;
  }

  &:hover.scrollable-visible::before {
    opacity: 0.8;
  }

  .scrollable-horizontal &::before {
    height: 100%;
  }

  .scrollable-vertical &::before {
    top: 2px;
    bottom: 2px;
  }

  .scrollable-light &::before {
    background-color: colors.$black;
  }

  .scrollable-dark &::before {
    background-color: colors.$white;
  }
}

.simplebar-hide-scrollbar {
  @include position.fixed($left: 0);
  overflow-y: scroll;
  visibility: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.playercalc-container {
  width: 100%;
}

.playercalc-playerBar {
  @include flex.row-between;
  width: 100%;
}

.playercalc-playerInfo {
  @include spacing.margin($top: 7px);
  width: 100%;
  flex: 1;

  .playercalc-slim & {
    max-width: 20%;
  }
}

.playercalc-teamList {
  @include flex.row-end;
  flex: 2;
}

.playercalc-pokeCalc {
  @include spacing.padding($top: 4px);
}

.playerpiconbutton-container {
  align-self: center;
}

.playerpiconbutton-picon {
  @include transition.apply(opacity, filter);

  &.playerpiconbutton-none {
    transform: translateY(-4px);
  }

  .playerpiconbutton-fainted & {
    opacity: 0.3;
    filter: grayscale(1);
  }
}

.playerpiconbutton-glanceTooltip {
  max-width: 256px;
}

.playerpiconbutton-piconBackground {
  @include position.absolute-center;
  width: 38px;
  height: 38px;
  border: 2px solid colors.$transparent;
  border-radius: 100px;
  @include transition.apply(background-color, border-color);
  pointer-events: none;

  .playerpiconbutton-container:not(.playerpiconbutton-selected):hover & {
    &.playerpiconbutton-light {
      border-color: color.alpha(colors.$black, 0.16);
    }

    &.playerpiconbutton-dark {
      border-color: color.alpha(colors.$white, 0.16);
    }
  }

  .playerpiconbutton-active & {
    &.playerpiconbutton-light {
      background-color: color.alpha(color.shade(colors.$blue, 16%), 0.24);
    }

    &.playerpiconbutton-dark {
      background-color: color.alpha(colors.$blue, 0.24);
    }
  }

  .playerpiconbutton-selected & {
    &.playerpiconbutton-light {
      border-color: color.alpha(colors.$black, 0.32);
    }

    &.playerpiconbutton-dark {
      border-color: color.alpha(colors.$white, 0.32);
    }
  }

  .playerpiconbutton-selected:hover & {
    border-color: color.alpha(colors.$blue, 0.8);
  }
}

.piconbutton-container {
  position: relative;
  width: 40px;
  height: 40px;
  user-select: none;
}

.piconbutton-picon {
  z-index: 1;
}

.basebutton-container {
  @include flex.row-center($inline: true);
  @include spacing.padding-none;
  @include font.apply(fonts.$mono);
  background: none;
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;

  &.basebutton-disabled {
    pointer-events: none;
  }
}

.picon-container {
  position: relative;
  width: 40px;
  height: 30px;
  image-rendering: pixelated;
}

.picon-itemIcon {
  @include position.absolute-anchor($x: -7%, $y: -17%, $x-prop: right, $y-prop: bottom);
  opacity: 0.8;
  transform: scale(0.75);
}

.itemicon-container {
  width: 24px;
  height: 24px;
  image-rendering: pixelated;
}

$tooltip-arrow: (
  size: 8px,

  placements: (
    top: bottom,
    right: left,
    bottom: top,
    left: right,
  ),
);

.tooltip-container {
  @include spacing.padding-xy($x: 10px, $y: 7px);
  @include font.apply(fonts.$primary);
  font-size: 10px;
  white-space: pre;
  border-radius: 12px;
  @include transition.apply(color, background-color);

  &.tooltip-light {
    color: colors.$white;
    background-color: colors.$gray-darker;
  }

  &.tooltip-dark {
    color: colors.$black;
    background-color: colors.$white;
  }

  strong {
    font-weight: 600;
  }
}

@each $placement, $prop in map.get($tooltip-arrow, placements) {
  .tooltip-container[data-placement^='#{$placement}'] > .tooltip-arrow {
    #{$prop}: math.div(map.get($tooltip-arrow, size), 2) * -1 + 1px;

    &::before {
      @if $placement == top {
        top: -1px;
      } @else if ($placement == right) {
        right: -1px;
      } @else if ($placement == bottom) {
        bottom: -1px;
      } @else if ($placement == left) {
        left: -1px;
      }
    }
  }
}

@mixin tooltip-arrow-styles {
  @include position.absolute;
  width: map.get($tooltip-arrow, size);
  height: map.get($tooltip-arrow, size);
  background: inherit;
}

.tooltip-arrow {
  @include tooltip-arrow-styles;
  visibility: hidden;

  &::before {
    content: '';
    @include tooltip-arrow-styles;
    transform: rotate(45deg);
    visibility: visible;
  }
}

$pokeglance-active-color: (
  light: color.shade(colors.$blue, 16%),
  dark: colors.$blue,
);

.pokeglance-container {
  position: relative;
  display: grid;
  grid-template-columns: max-content;
  grid-auto-rows: auto;
  row-gap: 6px;
}

.pokeglance-activeBadge {
  @include position.absolute($top: -17px, $left: 50%);
  white-space: nowrap;
}

.pokeglance-top {
  @include flex.row($align: center);
  grid-area: span 1 / 1;
}

.pokeglance-picon {
  position: relative;
  @include flex.row-center;
  @include spacing.margin($left: -6px);
  z-index: 1;

  .pokeglance-circularHp {
    @include position.absolute-center;
    width: 36px;
    height: 36px;
    @include transition.apply(color);

    .pokeglance-light & {
      color: color.alpha(map.get($pokeglance-active-color, light), 0.64);
    }

    .pokeglance-dark & {
      color: color.alpha(map.get($pokeglance-active-color, dark), 0.64);
    }
  }
}

.pokeglance-details {
  @include spacing.margin($left: 2px);
  @include font.apply(fonts.$mono);
}

.pokeglance-detailsRow {
  @include flex.row($align: center);

  &:not(:first-child) {
    @include spacing.margin($top: 2px);
  }

  &.pokeglance-spaced > *:not(:last-child) {
    @include spacing.margin($right: 4px);
  }
}

.pokeglance-detailsRow.pokeglance-name {
  @include font.apply(fonts.$primary);
  font-size: 10px;
  line-height: 11px;

  .pokeglance-status {
    @include spacing.margin($right: 4px);
    @include font.apply(fonts.$mono);
  }

  .pokeglance-species {
    font-weight: 600;
  }

  .pokeglance-forme {
    opacity: 0.8;
  }

  .pokeglance-level {
    @include spacing.margin($left: 4px);
    @include font.apply(fonts.$mono);
    font-size: 8px;
    text-transform: uppercase;
    line-height: 9px;
    opacity: 0.64;
  }
}

.pokeglance-types {
  @include flex.row($align: center);

  .pokeglance-type:not(:last-child) {
    @include spacing.margin($right: 2px);
  }
}

.pokeglance-specs {
  display: grid;
  grid-area: span 1 / 1;
  grid-template-columns: max-content minmax(0, 1fr);
  grid-auto-rows: max-content;
  column-gap: 8px;
  row-gap: 2px;

  .pokeglance-specName {
    @include font.apply(fonts.$primary, ( font-weight: 600 ));
    font-size: 8px;
    text-transform: uppercase;
    text-align: right;
    line-height: 13px;
    opacity: 0.64;
    @include transition.apply(color, opacity);

    &.pokeglance-centered {
      align-self: center;
    }

    &.pokeglance-active {
      opacity: 0.8;
    }

    .pokeglance-light &.pokeglance-active {
      color: map.get($pokeglance-active-color, light);
    }

    .pokeglance-dark &.pokeglance-active {
      color: map.get($pokeglance-active-color, dark);
    }
  }

  .pokeglance-specValues {
    @include flex.row($align: center);
    @include font.apply(fonts.$mono);
    font-size: 10px;
    line-height: 13px;
    @include transition.apply(color);

    &.pokeglance-active {
      font-weight: 600;
    }

    .pokeglance-light &.pokeglance-active {
      color: map.get($pokeglance-active-color, light);
    }

    .pokeglance-dark &.pokeglance-active {
      color: map.get($pokeglance-active-color, dark);
    }

    &.pokeglance-prev {
      filter: grayscale(1);

      span {
        text-decoration: line-through;
        opacity: 0.64;
      }
    }

    & > *:not(:last-child) {
      @include spacing.margin($right: 4px);
    }
  }
}

.badge-container {
  @include spacing.padding-xy($x: 10px, $y: 3px);
  @include font.apply(fonts.$primary, ( font-weight: 500 ));
  font-size: 10px;
  color: colors.$white;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 0 0 3px color.alpha(colors.$black, 0.3);
  opacity: 0;
  transform: translate(-50%, 5px);
  @include transition.apply(background-color, opacity, transform);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.badge-blue {
  background-color: color.alpha(color.shade(colors.$blue, 15%), 0.95);
}

.badge-visible {
  opacity: 1;
  transform: translate(-50%, 0);
}

.circularbar-container {
  width: 100%;
}

.circularbar-pathArc {
  stroke: currentColor;
  stroke-linecap: round;
  opacity: 0.24;
  @include transition.apply(stroke);
}

.circularbar-valueArc {
  stroke: currentColor;
  stroke-linecap: round;
  @include transition.apply(stroke, stroke-dashoffset);
}

$pokestatus-statuses: (
  default-color: (
    light: colors.$black,
    dark: colors.$white,
  ),

  colors: (
    unknown: #424242,
    brn: #A84331,
    frz: #2C9191,
    par: #DBCB37,
    psn: #A735A7,
    slp: #304E7C,
    tox: #802480,
    fnt: #607883,
  ),

  adjustment: (
    light: 10%,
    dark: 50%,
  ),
);

$pokestatus-container: (
  width: 26px,
  height: 13px,
  border-radius: 5px,

  default-background-color: (
    light: #DADDDE,
    dark: #2D2B2A,
  ),

  background-opacity: (
    default: (
      light: 0.88,
      dark: 0.88,
    ),

    highlight: (
      light: 0.8,
      dark: 0.64,
    ),

    fnt: (
      light: 0.4,
      dark: 0.32,
    ),
  ),
);

$pokestatus-label: (
  font-size: 8px,

  text-shadow: (
    default: 1px 1px 0 color.alpha(colors.$black, 0.1),
    highlight: 1px 1px 0 color.alpha(colors.$black, 0.3),
  ),

  opacity: (
    default: (
      light: 0.75,
      dark: 0.85,
    ),

    highlight: (
      light: 1,
      dark: 1,
    ),
  ),
);

.pokestatus-container {
  @include flex.row-center($inline: true);
  width: map.get($pokestatus-container, width);
  height: map.get($pokestatus-container, height);
  border-radius: map.get($pokestatus-container, border-radius);
  @include transition.apply(background-color);
  user-select: none;

  &.pokestatus-light {
    background-color: color.alpha(map.get($pokestatus-container, default-background-color, light), map.get($pokestatus-container, background-opacity, default, light));

    &.pokestatus-highlight {
      background-color: color.alpha(map.get($pokestatus-statuses, colors, unknown), map.get($pokestatus-container, background-opacity, highlight, light));
    }
  }

  &.pokestatus-dark {
    background-color: color.alpha(map.get($pokestatus-container, default-background-color, dark), map.get($pokestatus-container, background-opacity, default, dark));

    &.pokestatus-highlight {
      background-color: color.alpha(map.get($pokestatus-statuses, colors, unknown), map.get($pokestatus-container, background-opacity, highlight, dark));
    }
  }
}

.pokestatus-label {
  font-size: map.get($pokestatus-label, font-size);
  text-align: center;
  text-transform: uppercase;
  text-shadow: map.get($pokestatus-label, text-shadow, default);
  @include transition.apply(color, text-shadow);

  .pokestatus-light & {
    color: color.alpha(map.get($pokestatus-statuses, default-color, light), map.get($pokestatus-label, opacity, default, light));
  }

  .pokestatus-dark & {
    color: color.alpha(map.get($pokestatus-statuses, default-color, dark), map.get($pokestatus-label, opacity, default, dark));
  }

  .pokestatus-highlight & {
    text-shadow: map.get($pokestatus-label, text-shadow, highlight);
  }

  .pokestatus-highlight.pokestatus-light & {
    color: color.alpha(colors.$white, map.get($pokestatus-label, opacity, highlight, light));
  }

  .pokestatus-highlight.pokestatus-dark & {
    color: color.alpha(colors.$white, map.get($pokestatus-label, opacity, highlight, dark));
  }
}

@each $status, $color in map.get($pokestatus-statuses, colors) {
  @if $status != unknown {
    $light-color: color.shade($color, map.get($pokestatus-statuses, adjustment, light));
    $light-highlight-color: $light-color;
    $dark-color: color.tint($color, map.get($pokestatus-statuses, adjustment, dark));
    $dark-highlight-color: $color;

    $opacity-light: map.get($pokestatus-container, background-opacity, highlight, light);
    $opacity-dark: map.get($pokestatus-container, background-opacity, highlight, dark);

    @if $status == fnt {
      $opacity-light: map.get($pokestatus-container, background-opacity, fnt, light);
      $opacity-dark: map.get($pokestatus-container, background-opacity, fnt, dark);
    }

    .pokestatus-status-#{$status} {
      &:not(.pokestatus-highlight) {
        &.pokestatus-light .pokestatus-label {
          color: color.alpha($light-color, map.get($pokestatus-label, opacity, default, light));
        }

        &.pokestatus-dark .pokestatus-label {
          color: color.alpha($dark-color, map.get($pokestatus-label, opacity, default, dark));
        }
      }

      &.pokestatus-highlight {
        &.pokestatus-light {
          background-color: color.alpha($light-highlight-color, $opacity-light);
        }

        &.pokestatus-dark {
          background-color: color.alpha($dark-highlight-color, $opacity-dark);
        }
      }
    }
  }
}

$poketype-types: (
  default-color: (
    light: colors.$black,
    dark: colors.$white,
  ),

  colors: (
    unknown: #424242,
    normal: #90905D,
    fighting: #81201B,
    flying: #8563EA,
    poison: #7C317C,
    ground: #D1A42B,
    rock: #917E2C,
    bug: #808D18,
    ghost: #584578,
    steel: #9999BC,
    fire: #DD6510,
    water: #3A6EEB,
    grass: #549B31,
    electric: color.shade(#FDD835, 5%),
    psychic: color.shade(#F62765, 10%),
    ice: color.shade(#73CACA, 10%),
    dragon: #4D09F4,
    dark: #41332A,
  ),

  adjustment: (
    light: 8%,
    dark: 32%,
  ),
);

$poketype-container: (
  width: 36px,
  height: 13px,
);

$poketype-label: (
  font-size: 8px,
  border-radius: 5px,

  text-shadow: (
    default: 1px 1px 0 color.alpha(colors.$black, 0.1),
    highlight: 1px 1px 0 color.alpha(colors.$black, 0.3),
  ),

  label-opacity: (
    default: (
      light: 0.75,
      dark: 0.85,
    ),

    highlight: (
      light: 1,
      dark: 1,
    ),
  ),

  default-background-color: (
    light: #DCDFE1,
    dark: #2D2B2A,
  ),

  background-opacity: (
    default: (
      light: 0.88,
      dark: 0.88,
    ),

    highlight: (
      light: 1,
      dark: 1,
    ),
  ),
);

.poketype-container {
  position: relative;
  display: inline-block;
  width: map.get($poketype-container, width);
  height: map.get($poketype-container, height);
  @include transition.apply(width);
}

.poketype-label {
  @include position.absolute-fill;
  @include flex.row-center($inline: true);
  @include font.apply(fonts.$mono);
  font-size: map.get($poketype-label, font-size);
  text-align: center;
  text-transform: uppercase;
  text-shadow: map.get($poketype-label, text-shadow, default);
  border-radius: map.get($poketype-label, border-radius);
  @include transition.apply(color, text-shadow, background-color);
  user-select: none;
  z-index: 1;

  .poketype-light & {
    color: color.alpha(map.get($poketype-types, default-color, light), map.get($poketype-label, label-opacity, default, light));
    background-color: color.alpha(map.get($poketype-label, default-background-color, light), map.get($poketype-label, background-opacity, default, light));
  }

  .poketype-dark & {
    color: color.alpha(map.get($poketype-types, default-color, dark), map.get($poketype-label, label-opacity, default, dark));
    background-color: color.alpha(map.get($poketype-label, default-background-color, dark), map.get($poketype-label, background-opacity, default, dark));
  }

  .poketype-highlight & {
    text-shadow: map.get($poketype-label, text-shadow, highlight);
  }

  .poketype-highlight.poketype-light & {
    color: color.alpha(colors.$white, map.get($poketype-label, label-opacity, highlight, light));
    background-color: color.alpha(map.get($poketype-types, colors, unknown), map.get($poketype-label, background-opacity, default, light));
  }

  .poketype-highlight.poketype-dark & {
    color: color.alpha(colors.$white, map.get($poketype-label, label-opacity, highlight, dark));
    background-color: color.alpha(map.get($poketype-types, colors, unknown), map.get($poketype-label, background-opacity, default, dark));
  }
}

@each $type, $color in map.get($poketype-types, colors) {
  @if $type != unknown {
    $light-shade: map.get($poketype-types, adjustment, light);
    $dark-tint: map.get($poketype-types, adjustment, dark);

    .poketype-type-#{$type} {
      $light-default-color: color.shade($color, $light-shade);
      $dark-default-color: color.tint($color, $dark-tint);

      &:not(.poketype-highlight) {
        &.poketype-light .poketype-label {
          color: color.alpha($light-default-color, map.get($poketype-label, label-opacity, default, light));
        }

        &.poketype-dark .poketype-label {
          color: color.alpha($dark-default-color, map.get($poketype-label, label-opacity, default, dark));
        }
      }

      $light-highlight-color: $light-default-color;
      $dark-highlight-color: $color;

      &.poketype-highlight {
        &.poketype-light {
          .poketype-label {
            background-color: color.alpha($light-highlight-color, map.get($poketype-label, background-opacity, highlight, light));
          }
        }

        &.poketype-dark {
          .poketype-label {
            background-color: color.alpha($dark-highlight-color, map.get($poketype-label, background-opacity, highlight, dark));
          }
        }
      }
    }
  }
}

.playerinfo-usernameButton {
  justify-content: initial;
  max-width: 100%;
  @include font.apply(fonts.$primary, ( font-weight: 500 ));

  .playerinfo-light & {
    color: color.alpha(colors.$black, 0.75);
  }

  .playerinfo-dark & {
    color: color.alpha(colors.$white, 0.75);
  }
}

.playerinfo-usernameButtonLabel {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.playerinfo-playerActions {
  @include flex.row($align: center);
  @include spacing.margin($top: 2px);
  font-size: 8px;
}

.playerinfo-rating {
  opacity: 0;
  @include transition.apply(opacity);

  &.playerinfo-visible {
    opacity: 0.65;
  }
}

.playerinfo-tooltipContent {
  max-width: 175px;
  text-align: center;
  white-space: normal;
  user-select: none;
}

.playerinfo-ladderFormat {
  @include spacing.margin($bottom: 2px);
  font-size: 8px;
  text-transform: uppercase;
  opacity: 0.55;
}

.playerinfo-ladderStats {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
  align-items: center;
  column-gap: 0.5em;
}

.playerinfo-ladderStatLabel {
  grid-area: span 1 / span 1;
  font-weight: 500;
  font-size: 8px;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.65;
}

.playerinfo-ladderStatValue {
  grid-area: span 1 / span 1;
  @include font.apply(fonts.$mono);
  font-size: 10px;
  text-align: left;
}

$button-padding-x: 5px;
$button-padding-y: 1px;

$button-background-color-light: colors.$transparent;
$button-background-color-dark: colors.$transparent;
$button-background-color-light-hover: color.alpha(colors.$black, 0.05);
$button-background-color-dark-hover: color.alpha(colors.$white, 0.075);
$button-background-color-light-active: color.alpha(colors.$black, 0.15);
$button-background-color-dark-active: color.alpha(colors.$white, 0.15);

$button-border-radius: 15px;

$button-label-color-light-hover: color.shade(colors.$blue, 15%);

.button-container {
  position: relative;
  font-size: 10px;
  border-radius: $button-border-radius;
  @include transition.apply(color, background-color);

  &.button-light {
    background-color: $button-background-color-light;
  }

  &.button-dark {
    background-color: $button-background-color-dark;
  }

  &:hover {
    &.button-light {
      color: $button-label-color-light-hover;
      background-color: $button-background-color-light-hover;
    }

    &.button-dark {
      color: colors.$blue;
      background-color: $button-background-color-dark-hover;
    }
  }

  &:active {
    &.button-light {
      color: color.alpha($button-label-color-light-hover, 0.85);
      background-color: $button-background-color-light-active;
    }

    &.button-dark {
      color: color.alpha(colors.$blue, 0.85);
      background-color: $button-background-color-dark-active;
    }
  }

  &.button-disabled {
    opacity: 0.3;
  }
}

.button-absoluteHover {
  background-color: colors.$transparent;

  &::before {
    content: '';
    @include position.absolute-xy(-$button-padding-x, -$button-padding-y);
    border-radius: $button-border-radius;
    @include transition.apply(background-color);
    user-select: none;
    pointer-events: none;
  }

  &.button-light {
    background-color: colors.$transparent;

    &::before {
      background-color: $button-background-color-light;
    }
  }

  &.button-dark {
    background-color: colors.$transparent;

    &::before {
      background-color: $button-background-color-dark;
    }
  }

  &:hover {
    &.button-light {
      background-color: colors.$transparent;

      &::before {
        background-color: $button-background-color-light-hover;
      }
    }

    &.button-dark {
      background-color: colors.$transparent;

      &::before {
        background-color: $button-background-color-dark-hover;
      }
    }
  }

  &:active {
    &.button-light {
      background-color: colors.$transparent;

      &::before {
        background-color: $button-background-color-light-active;
      }
    }

    &.button-dark {
      background-color: colors.$transparent;

      &::before {
        background-color: $button-background-color-dark-active;
      }
    }
  }
}

.button-label {
  display: inline-block;
  @include spacing.margin-xy($button-padding-x, $button-padding-y);
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  user-select: none;
  pointer-events: none;

  .button-absoluteHover & {
    @include spacing.margin-none;
  }
}

.module-container {
  position: relative;
}

$grid-grid-border-radius: 12px;

.grid-container {
  display: grid;
  grid-auto-flow: row dense;
  justify-content: center;
  border-radius: $grid-grid-border-radius;
}

.grid-interactive {
  @include transition.apply((background-color, 500ms));

  @include aria.outline(
    $offset: 6px,
    $radius: $grid-grid-border-radius,
    $z-index: -1,
  );
}

.pokecalc-tablesContainer {
  @include flex.column($justify: stretch, $align: stretch);
  @include spacing.margin($top: 16px);

  .pokecalc-large & {
    flex-direction: row;
    align-items: center;

    .pokecalc-moves {
      flex: 2;
    }

    .pokecalc-stats {
      flex: 1;
      @include spacing.margin($top: 0);
      @include spacing.padding($all: 12px, $right: 0);
    }
  }
}

.pokecalc-stats {
  @include spacing.margin($top: 12px);
}